/* defaults */
body {
  margin: 0;
  /* font-family: 'inter'; */
  /* font-weight: 400; */
  font-size: 1rem;
  @apply leading-[1.5rem]  font-semibold;
}
::selection {
  background-color: #efff00;
  color: #000;
}
